@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    width: 100%;
}

nav{
    background-color: #073C64;
    border-bottom: 2px solid #1A2C43;
}

.dropdown:hover .dropdown-menu{
    display: block;
    
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-brand .vertical-line{
    width: 3px;
    height: 65px;
    margin-left: 10px;
    background-color: #FDCB2C;
}

.navbar-brand .ti h1{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
}

.nav-item{
    font-size: 18px;
    font-weight: bold;
}

.nav-link{
    color: white !important;
}

.inpage{
    color: #FDCB2C !important;
}

.nav-link:hover{
    color: #FDCB2C !important;
}

.hero{
  background-size: cover;
  min-height: 350px;
  margin: 0;
  padding: 0;
}

.kiri{
    justify-content: center;
    align-items: center;
    color: white;
}

.kiri .informatika{
    margin-left: 50px;
}

.kiri h4{
    font-size: 24px;
}

.kiri p{
    margin-top: 20px;
    font-size: 18px;
}

.kanan{
    background-color: white;
    height: 350px;
    max-width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img{
    height: 320px;
    width: 100%;
    border-radius: 40px;
}

.judul{
    margin-left: 30px;
    margin-top: 40px;
}

.judul h4{
    font-size: 20px;
    font-weight: bold;
    color: #1A2C43;
}
.horizontal_line{
    height: 2px;
    margin-right: 100px;
    margin-left: 20px;
    background-color: #FDCB2C;
}


.img-wrapper{
    max-width: 100%;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.img-wrapper img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 2% !important;
}

@media screen and (min-width : 576px){

    .berita{
        display: flex;

    }

    .berita .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }

    .img-wrapper{
        height: 23vw;
    
    }
    
}

@media screen and (max-width : 576px) {
    .kanan{
        height: 200px;
    }

    .carousel-item img{
        height: 180px;
       
    }
}

.berita{
    padding: 1em;

}

.card{
    border-radius: 4% !important;
    margin: 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);

}

.tombol-prev, .tombol-next {
    background-color: #e1e1e1 !important;
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    top: 50% !important;
    transform: translateY(-50%) !important;
    opacity: .5 !important;
}

.tombol-prev:hover, .tombol-next:hover{
    opacity: 1 !important;
}


footer{
    margin-top: 40px;
    background-color: #073C64;
    width: 100%;
    height: 192px;
}

.kontak{
    
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.alamat{
    font-size: 14px;
    color: white;
}

footer .vertical-line{
    background-color: #FDCB2C;
    height: 3px;
    width: 100px;

}

